<div class="user_profile_controller">
	
	<div class="user_profile">
		<h4>@<%= @user.username %></h4>
		<% if @user.is_owner %>
				<h2 class="logo_color"><i class="fa-solid fa-crown" title="You are owner"></i> <%= @user.name.capitalize %> </h2><br>
				<p>Has <%= pluralize @user.messes.size ,'Mess'%></p><br>
			<% else %> 
			<h2 class="logo_color"><%= @user.name.capitalize %> </h2><br>
			
		<% end %>
		 <span class="badge"><b><i class="fa-solid fa-location-dot"></i> State:</b><%= @user.state %></span>
		 <span class="badge"><b><i class="fa-solid fa-city"></i> City:</b><%= @user.city %></span>
	</div>



</div>
<br>
<h2 align="center">Mess uploaded by @<%= @user.username %> </h2> <br>

<div class="messes_container">
	<div class="messes">
			
		<%= render 'messes/mess' %>
		
	</div>
</div>
