<% if @user.is_owner %>
	<h2 class="badge">YOU ARE OWNER</h2>
<% end %>
<h1><%= @user.name %></h1>
<p>Userrname: @<%= @user.username %></p>
<p>Eamil: <%= @user.email %></p>
<p>Gender: <%= @user.gender %></p>

<h3> messes by this user</h3>
<% if @user.messes.size > 0  %>
	<% @user.messes.each do |mess| %>
		
		<p><%= link_to mess.title,mess_path(mess) %></p>
		
	<% end %>
<% end %>
