<div class="hero_container">
	<div class="hero_text">
		<h1 class="logo_color">
		Want to search mess ?
			
		</h1>
	</div>

	<div class="hero_search">
		

		<%= form_for :search,url:search_path,class:'search_form',method: :get do |f| %>
			<span class="logo_color search_div_txt">You can search by</span >
			<%= f.text_field :landmark,placeholder:'landmark' ,class:'field'%>
			<span class="logo_color search_div_txt">or</span >
			<%= f.text_field :city,placeholder:'by city' ,class:'field' %>
			<%#= f.number_field :price,placeholder:'enter price' %>

			<%#= f.select :boys_or_girls,['--select--','for boys','for girls','for all'] %>
			<!-- <span class="logo_color search_div_txt">and click </span > -->

			<%= f.submit 'Go',class:'btn search_btn' %>
		<% end %>
		<span class="white_links">
		<%= link_to 'Advance search',advance_path,class:'white_links'  %>
			
		</span>
</div>
</div>


<div class="sub_hero_container">
	<div class="sub_hero_titile">
		<h1 class="logo_color">Messes in Kolkata</h1>
	</div>
</div>


<div class="messes_container mb-0">
	<div class="messes">
			
		<%= render 'messes/mess' %>
		
	</div>
</div>


<div class="hero_three_container">

	<div class="hero_three_left">
		<h1 class="logo_color">Finding mess is now very easy</h1>
		<p>Find your perfect mess without any hassle</p>
	</div>
	<div class="hero_three_right">
		<!-- <button class="btn big-btn">Get started <i class="fa-solid fa-angle-right"></i></button> -->
		<a href="/signup" class="btn big-btn">Get started <i class="fa-solid fa-angle-right"></i></a>
	</div>
</div>