<h1> This is homepage</h1>

<%= link_to 'Signup',signup_path %>
<%= link_to 'Signin',signin_path %>
<% if logged_in? %>
	<%= link_to 'Signout',signout_path,method: :delete,data:{confirm:'are you sure?'} %>
	<hr>
	<% if current_user.is_owner %>
		<%= link_to 'Upload mess',upload_path  %>
	<% end %>

<hr>
	
	<%= link_to 'My account',user_path(current_user)  %>
	
<% end %>

<%= link_to 'Messes',messes_path %>

<hr><hr>

<%= form_for :search,url:search_path,method: :get do |f| %>
	<%= f.text_field :landmark,placeholder:'search mess by landmark here' %>
	<%= f.text_field :city,placeholder:'search mess by city here' %>
	<%= f.number_field :price,placeholder:'enter price' %>

	<%= f.select :boys_or_girls,['--select--','for boys','for girls','for all'] %>

	<%= f.submit 'Search' %>
<% end %>