<!-- <div class="header">
	<h1 class="logo_color">Advance search</h1>
</div> -->


<div class="adv_saerch_container">
	


	<%= form_for :search,url:advance_search_path,method: :get do |f| %>
			<span class="logo_color search_div_txt">I want a mess in </span >
		<%= f.text_field :city,placeholder:'city ' ,required:true,class:'field'%>

			<span class="logo_color search_div_txt">near</span >
			<%= f.text_field :landmark,placeholder:'landmark ' ,required:true,class:'field'%> 
			<span class="logo_color search_div_txt">my minimum price is </span >
		<%= f.number_field :min_price,placeholder:'min price',required:true ,class:'field'%>
			<span class="logo_color search_div_txt">my maximum price is </span >
		<%= f.number_field :max_price,placeholder:'max price',required:true ,class:'field'%>
			<span class="logo_color search_div_txt">for </span >




		<%= f.select :boys_or_girls,['--select--','service boys','service girls','student boys','student girls','all'] ,required:true ,class:'field select_field'%>

		<%#= f.submit 'Search' %>
		<%= f.button '<i class="fa-solid fa-magnifying-glass"></i>'.html_safe,class:'btn search_btn',type: :submit %>

	<% end %>
</div>