<% @messes.each do |m| %>

		<div class="single_mess">
			<% if m.room_available %>
				
				<p class="rooms_avl"><i class="fa-solid fa-check"></i> Rooms available</p>
				<% else %>
				<p class="rooms_avl rooms_avl_not"><i class="fa-solid fa-xmark"></i> Rooms not available</p>

			<% end %>
			<div class="mess_image">
				<%= image_tag m.images.first %>
			</div>
			<div class="mess_info">
				<h2 class="info_header"><%= m.title.capitalize %></h2>
				<div class="review_user mt">
					
				<% if m.user %>
				    <% if m.user.gender.eql?('male') %>
					<%= image_tag 'sou.jpg',class:'review_avatar mess_avatar' %>
					<% else %>
					<%= image_tag 'swar.jpg',class:'review_avatar mess_avatar' %>

					
				<% end %>
				<span class="logo_color">@<%= link_to m.user.username,user_path(m.user) %> </span>
				<% end %>
				</div>
				<% if m.description.size>30 %>
					<p class="desc"><%= m.description[0..30]%>...</p>
					<% else %>
					<p class="desc"><%= m.description %></p>
					
				<% end %>

				<% if m.service_boys_only %>
					<p class="badge serboy">Service boys</p>
				<% end -%>

				<% if m.service_girls_only%>
					<p class="badge sergirl">Service girls</p>
				<% end %>

				<% if m.student_girls_only%>
					<p class="badge sergirl">Student girls</p>
				<% end %>

				<% if m.student_boys_only%>
					<p class="badge serboy">Student Boys</p>
				<% end %>

				<% if m.for_all %>
					<p class="badge forall">For all</p>
					
				<% end %>


			</div>
			<div class="mess_footer">
				<h3><i class="fa-solid fa-location-dot"></i> <%= m.city %> </h3>
				<h3 class="badge price-badge">₹<%= m.price %>/-</h3>
			</div>
				<%= link_to mess_path(m) do %>
			<div class="btn card_btn">
				View
			</div>
			<% end %>
			<!-- <button class="btn">Show</button> -->
		</div>
		<% end -%>