<!-- <h3></h3> -->
<div class="mess_show_container">
  <div class="mess_left_container">
    <div class="mess_image">
      <% i=1 %>
      <% @mess.images.each do |img| %>
        <%= image_tag img ,class:"msimg img#{i}",alt:'mess images'%>
        <% i+=1 %>
      <% end %>
    </div>
    <div class="mess_desc">

      <h1 class="logo_color"><%= @mess.title.capitalize %></h1>
      <p><%= @mess.description %></p> <br>
      <p> <span class="badge"><b><i class="fa-solid fa-address-card"></i> Address:</b></span> <%= @mess.adrs.capitalize %> </p>
      <p> <span class="badge"><b> <i class="fa-solid fa-location-dot"></i> State:</b></span>  <%= @mess.state.capitalize %> </p>
      <p> <span class="badge"><b><i class="fa-solid fa-city"></i> City:</b></span>  <%= @mess.city.capitalize %> </p>
      <p> <span class="badge"><b> <i class="fa-solid fa-landmark"></i> Landmark:</b></span>  <%= @mess.landmark.capitalize %> </p>
      <br>
      <h2>Mess For</h2><br>
      <% if @mess.service_boys_only %>

      		 <span class="badge serboy"><b><i class="fa-solid fa-mars"></i> Service boys</b></span>
      <% end %>
      <% if @mess.student_boys_only %>
      		 <span class="badge serboy"><b><i class="fa-solid fa-mars"></i> Student boys</b></span>
      	
      <% end %> 
      <% if @mess.student_girls_only %>
      		 <span class="badge sergirl"><b><i class="fa-solid fa-venus"></i> Student girls</b></span>
      	
      <% end %>
      <% if @mess.service_girls_only %>
      		 <span class="badge sergirl"><b><i class="fa-solid fa-venus"></i> Service girls</b></span><br>
      	
      <% end %> 
      <% if @mess.for_all %>
      		 <span class="badge forall"><b><i class="fa-solid fa-mars-and-venus"></i>For all</b></span>
      	
      <% end %>

      <% if logged_in? %>
        
      <div class="rating_form">
        <h2 class="logo_color">Rate this mess</h2>
        <%= form_for @rate,url:rating_path do |f| %>
            
            <%#= f.select :rating ,[1,2,3,4,5] %>
            <%= f.radio_button :rating,1 %> <span class="radio_label">1</span>
            <%= f.radio_button :rating,2 %> <span class="radio_label">2</span>
            <%= f.radio_button :rating,3 %> <span class="radio_label">3</span>
            <%= f.radio_button :rating,4 %> <span class="radio_label">4</span>
            <%= f.radio_button :rating,5 %> <span class="radio_label">5</span> <br>
            <%= f.button 'Rate <i class="fa-solid fa-star"></i>'.html_safe,type: :submit,class:'btn rating_btn' %>

        <% end %>

      </div>
      <% end %>


    </div>
  </div>
  <div class="mess_right_container">
    <div class="mess_contact">
      <% if @mess.user %>
        <p class="info_ps"> Uploaded by <span class="logo_color">	<%= link_to "@"+@mess.user.username,user_path(@mess.user) %></span></p>
      <% end %>
      <p class="info_ps price">₹<%= @mess.price %>/Person</p>

      <% if @avg.ceil >=4 %>
       <span class="badge green_rating_badge"><i class="fa-solid fa-star"></i> <%= @avg.ceil %> </span>
        <% elsif @avg.ceil >=2 %>
         <span class="badge green_rating_badge orange_rating"><i class="fa-solid fa-star"></i> <%= @avg.ceil %> </span>
         <% else %>
         <span class="badge green_rating_badge red_rating"><i class="fa-solid fa-star"></i> <%= @avg.ceil %> </span>

      <% end %>

      <% if !logged_in? %>
        <div class="error_for_not_login">
          <p class="info_ps">Signin to contact the owner <%= link_to 'Signin',signin_path %></p>
        </div>
      <% else %>
        <% if @mess.user %>
          <a href="tel:<%= @mess.user.phone %>" class='btn info_btn callbtn'><i class="fa-solid fa-phone"></i> Call the owner</a>
          <a href="mailto:<%= @mess.user.email %>" class='btn info_btn light_btn'><i class="fa-solid fa-envelope"></i> Email the owner</a>

          <% if @mess.user.eql?(current_user) || admin_user %>
              <%= link_to '<i class="fa-solid fa-pen-to-square"></i> Edit info'.html_safe,edit_mess_path,class:'btn info_btn light_btn editbtn'  %>
              <%= link_to '<i class="fa-solid fa-trash"></i> Delete '.html_safe,mess_path(@mess),method: :delete,class:'btn info_btn',data:{confirm:"you really want to delete the mess '#{@mess.title}'?"}  %>
          <% end %>

        <% end -%>
      <% end %>
    </div>
  </div>
</div>
<div class="write_review_container">
  <% if logged_in? %>
    <%= form_for @review,url:review_post_path do |f| %>
      <%= f.label :body,'Write review',class:'form_label' %> <br>
      <%= f.text_area :body,placeholder: 'Write your review' ,class:'form_field',required:true%> <br>
      <%= f.button 'post <i class="fa-solid fa-paper-plane"></i>'.html_safe ,class:'btn mt post_btn',type: :submit%>
    <% end %>
  <% else %>
    <%= link_to 'signin to review', signin_path , class:'btn'%>
  <% end %>
</div>



<div class="all_reviews_container">
	

<% if @all_reviews.size > 0 %>

  <h2 class="logo_color">All reviews</h2>

	<% @all_reviews.each do |review| %>
	<div class="review">
    <div class="review_user">
      
    <% if review.user.gender.eql?('male') %>
      <%= image_tag 'rahu.jpg' ,class:'review_avatar'%>
      <% else %>
      <%= image_tag 'swar.jpg' ,class:'review_avatar'%>

    <% end %>
	  <h4 class="username"> <%= link_to '@'+review.user.username,user_path(review.user),class:'logo_color' %></h4> <span class="time_review"><%= time_ago_in_words(review.updated_at) %> ago</span>

    <% if review.user.eql?(current_user) || admin_user %>
      
    <span class="badge red_badge"><%= link_to '<i class="fa-solid fa-trash"></i> delete review'.html_safe,review_path(review.id),method: :delete,class:'white_links' %></span>

    <% end %>
    </div>

	  <p>  <%= review.body %> </b></p>
		
	</div>
	<% end %>

<% else %>

  <h3>There is no review for this mess!</h3>

<% end %>

</div>



<%= @avg.to_i %>