<!-- <h3></h3> -->
<div class="mess_show_container">
  <div class="mess_left_container">
    <div class="mess_image">
      <% i=1 %>
      <% @mess.images.each do |img| %>
        <%= image_tag img ,class:"msimg img#{i}",alt:'mess images'%>
        <% i+=1 %>
      <% end %>
    </div>
    <div class="mess_desc">

      <h1 class="logo_color"><%= @mess.title.capitalize %></h1>
      <p><%= @mess.description %></p> <br>
      <p> <span class="badge"><b><i class="fa-solid fa-address-card"></i> Address:</b></span> <%= @mess.adrs.capitalize %> </p>
      <p> <span class="badge"><b> <i class="fa-solid fa-location-dot"></i> State:</b></span>  <%= @mess.state.capitalize %> </p>
      <p> <span class="badge"><b><i class="fa-solid fa-city"></i> City:</b></span>  <%= @mess.city.capitalize %> </p>
      <p> <span class="badge"><b> <i class="fa-solid fa-landmark"></i> Landmark:</b></span>  <%= @mess.landmark.capitalize %> </p>
      <br>
      <h2>Mess For</h2><br>
      <% if @mess.service_boys_only %>

      		 <span class="badge serboy"><b><i class="fa-solid fa-mars"></i> Service boys</b></span>
      <% end %>
      <% if @mess.student_boys_only %>
      		 <span class="badge serboy"><b><i class="fa-solid fa-mars"></i> Student boys</b></span>
      	
      <% end %> 
      <% if @mess.student_girls_only %>
      		 <span class="badge sergirl"><b><i class="fa-solid fa-venus"></i> Student girls</b></span>
      	
      <% end %>
      <% if @mess.service_girls_only %>
      		 <span class="badge sergirl"><b><i class="fa-solid fa-venus"></i> Service girls</b></span><br>
      	
      <% end %> 
      <% if @mess.for_all %>
      		 <span class="badge forall"><b><i class="fa-solid fa-mars-and-venus"></i>For all</b></span>
      	
      <% end %>

    </div>
  </div>
  <div class="mess_right_container">
    <div class="mess_contact">
      <% if @mess.user %>
        <p class="info_ps"> Uploaded by <span class="logo_color">	<%= link_to "@"+@mess.user.username,user_path(@mess.user) %></span></p>
      <% end %>
      <p class="info_ps price">₹<%= @mess.price %>/Person</p>
      <% if !logged_in? %>
        <div class="error_for_not_login">
          <p class="info_ps">Signin to contact the owner <%= link_to 'Signin',signin_path %></p>
        </div>
      <% else %>
        <% if @mess.user %>
          <a href="tel:<%= @mess.user.phone %>" class='btn info_btn callbtn'><i class="fa-solid fa-phone"></i> Call the owner</a>
          <a href="mailto:<%= @mess.user.email %>" class='btn info_btn light_btn'><i class="fa-solid fa-envelope"></i> Email the owner</a>

          <% if @mess.user.eql?(current_user) || admin_user %>
              <%= link_to '<i class="fa-solid fa-pen-to-square"></i> Edit info'.html_safe,edit_mess_path,class:'btn info_btn light_btn editbtn'  %>
              <%= link_to '<i class="fa-solid fa-trash"></i> Delete '.html_safe,mess_path(@mess),method: :delete,class:'btn info_btn',data:{confirm:"you really want to delete the mess '#{@mess.title}'?"}  %>
          <% end %>

        <% end -%>
      <% end %>
    </div>
  </div>
</div>
<div class="write_review_container">
  <% if logged_in? %>
    <%= form_for @review,url:review_post_path do |f| %>
      <%= f.label :body,'Write review',class:'form_label' %> <br>
      <%= f.text_area :body,placeholder: 'Write your review' ,class:'form_field',required:true%> <br>
      <%= f.button 'post <i class="fa-solid fa-paper-plane"></i>'.html_safe ,class:'btn mt post_btn',type: :submit%>
    <% end %>
  <% else %>
    <%= link_to 'signin to review', signin_path , class:'btn'%>
  <% end %>
</div>


<div class="all_reviews_container">
	

<% if @all_reviews.size > 0 %>

  <h2 class="logo_color">All reviews</h2>

	<% @all_reviews.each do |review| %>
	<div class="review">

	  <p class="username">  @<%= review.user.username %></p> 

	  <p>  <%= review.body %> </b></p>
		
	</div>
	<% end %>

<% else %>

  <h3>There is no review for this mess!</h3>

<% end %>

</div>
