
<div class="images" style="width:300px">
	<% @mess.images.each do |img| %>
		<%= image_tag img,style:'width:100%' %>
	<% end %>

</div>
<h3>uploaded by: <%= link_to("@"+@mess.user.username,user_path(@mess.user)) if @mess.user %></h3>
<h1><%= @mess.title %></h1>
<p><%= @mess.description %></p>
<p><%= @mess.city %></p>
<p><%= @mess.state %></p>
<h3>Price:<%= @mess.price %> Rs /Person</h3>

<% if @mess.service_boys_only %>
	<h3>for service boys</h3>
<% end %>

<% if @mess.service_girls_only %>
	<h3>for  service girls</h3>
<% end %>

<% if @mess.student_boys_only %>
	<h3>for student boys</h3>
<% end %>

<% if @mess.student_girls_only %>
	<h3>for student girls</h3>
<% end %>

<% if @mess.for_all %>
	<h3>for all</h3>
<% end %>

<% if @mess.room_available %>
	<h3>Rooms available</h3>
<% end %>


<% if !logged_in? %>
	<%= link_to 'signin to contact the owner',signin_path %>
	<% else %>
	<h3><%= @mess.user.phone if @mess.user%></h3>
<% end %>


	
<% if logged_in? %>

<%= form_for @review,url:review_post_path do |f| %>
	<%= f.label :body,'Write review' %> <br>
	<%= f.text_area :body,placeholder: 'Write your review' %> <br>
	<%= f.submit 'post' %>
<% end %>
<% else %>
<%= link_to 'signin to review', signin_path %>
<% end %>

<% if @all_reviews.size > 0 %>
	
<h3>All reviews</h3>
<% else %>
<h3>There is no review for this mess!</h3>
<% end %>

<% @all_reviews.each do |review| %>
	<span>@<%= review.user.username %> | <b> <%= review.body %> </b></span> 
	<!-- <span></span> -->
<% end %>

<hr>