<div class="footer_continer">
	<div class="footer">
		<div class="first_col_footer">
			<h2>Useful Links</h2>
			<p><%= link_to 'Some where', root_path  %></p> 
			<p><%= link_to 'Some where', root_path  %></p> 
			<p><%= link_to 'Some where', root_path  %></p> 
			<p><%= link_to 'Some where', root_path  %></p> 
		</div>
		<div class="sec_col_footer">
			<h2>Links</h2>
			<p><%= link_to 'Some where', root_path  %></p> 
			<p><%= link_to 'Some where', root_path  %></p> 
			<p><%= link_to 'Some where', root_path  %></p> 
			<p><%= link_to 'Some where', root_path  %></p> 
		</div>
	</div>
</div>